<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.0.2/build/rollups/md5.js"></script>
<script>
function sendEmail() {
	var xhr = new XMLHttpRequest();
	xhr.open("POST", '/sendEmail', true);
	xhr.setRequestHeader('Content-Type', 'application/json');
	xhr.send(JSON.stringify({
		from: '',
		to: document.getElementById('email'),
		sujet: document.getElementById('sujet'),
		message: document.getElementById('message')
	}));		
}
	myfunction(){
		$(document).ready(function(){
    $("#myCheck").click(function(){
       var nouveaucontact= prompt("rentrer votre contact");
   //$( "#autocompletion" ).append( "<option></option>" );
   $('#autocompletion').append($('<option>', {
    value: 1,
    text: nouveaucontact
}));

	});
	myfunction(){
		$( "#montre" ).click(function() {
  $( ".cacher" ).show( "slow" );
  $( ".bouton" ).show( "slow" );
 }
}
								 
});
	
	
	


</script>
<style>
#boite{
    background-color:#EBF0EB;
    width: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: 0;
    
}
footer {
	height:31px;
	background-color:#E4DEDD;
	color:white;
	font-family: 'Open Sans', sans-serif;
	color:black;
	margin-top: 230px;
}
	
header {
	height:83px;
	background-color:#1a1a1a;
	color:white;
	font-family: 'Open Sans', sans-serif;
}
header a {
	color:#fff;
	text-decoration:none;
    margin-left: 30px;
	}


 input.bouton {
	width:173px;
	height:42px;
	background-color:#353535;
	color:#fff;
	font-weight:bold;
	margin-top:30px;
	 cursor: pointer;
}
	

nav {
	float:right;
	line-height:83px;
	font-weight:bold;
	font-size:12px;
}

nav ul li {
	display:inline;
	padding-left:20px;
	padding-right:30px;
}

nav ul li a:hover {
	color:#5cf96b
}

.sujet {
	display:block;
	float:left;
	line-height:83px;
	font-weight:bold;
	font-size:25px;
}

textarea {
	width:300px;
	height:89px;
	padding-left:5px;
	padding-top:5px;
}

</style>





<header>

	<div class="entete">
    	
        <a class="sujet" href="#">Système de messagerie</a>
        
        
        <nav>
        
        	<ul>
        
        	  	<li><a   id="montre" href="#" onclick="myFunction()">nouveau message</a></li>
            <li><a  id="myCheck"	href="#">nouveau contact</a></li>
          
            </ul>
        
        </nav>
    
    	
    
    </div>



</header>




	<section class="lasection1">
    

   
		
    <div class="formulaire">
		<!-- action fait reference la route de la request POST    -->
  
  
    <form action="sendEmail" method="post">
    
        <p><input  class="cacher" id="text" type="text" name="from" placeholder="Nom" ></p>
        <p><input  class="cacher"  type="email"  list="autocompletion" name="to" placeholder="Email" ></p>
        <p><input   class="cacher" id="subject"type="text" name="subject" placeholder="Le sujet" ></p>
        <p><textarea  class="cacher" name="message" placeholder="Votre texte" ></textarea></p>
		<input class="bouton" type="submit" value="envoi" >
    
    
        
    </form>
	
   <datalist id="autocompletion">
		<option>toto@hotmail.com</option>
	</datalist>
    
    </div>
    
    
    
    


	</section>

<footer>
	<p> Copyright © Seb,Allan,Alex,Herve  2017-2022</p>
	

</footer>

